# Dependencias
node_modules/

# Archivos de build
dist/
build/

# Variables de entorno
.env
.env.local
.env.production

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/